$accent-off: #B0A496;
$accent-highlight: #C1C53F;
$off-white: #FAF6FC;
@import "~bulma/sass/utilities/initial-variables";

$primary: #76B073;
$body-background-color: $off-white;

@import '~bulma/bulma';


.header-container {
	.header-navigation {
    z-index: 100;
    background-color: $primary;
		.header-link {
			color: $off-white;
			font-weight: bold;

			&:hover {
				background-color: inherit;
				color: $accent-off;
			}
			&.header-link-active {
				color: $accent-highlight;
			}
		}


		.header-navigation-logo {
			margin: 0 10px;
		}
		h1 {
			font-weight: bold;
			color: $off-white;
		}
	}

	.header-logo {
		max-height: 50vh;
		max-width: 25%;
	}

	&.header-full {
    height: 100vh;
    overflow: hidden;
    .header-body {
      z-index: 10;
    }
    .header-carousel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .header-carousel-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9;
      height: 100%;
      width: 100%;
      background-color: $primary;
      opacity: 0.6;
    }

    .header-body {
      .buttons {
        a { 
          margin: 30px 10px;
          padding: 20px 40px;
          background-color: transparent;
          color: #FFFFFF;
          border: 2px solid #FFFFFF;
          border-radius: 100px;
        }
      }
    }
	}

	&.header-short {
	}
}

//.navbar-brand h1 {
//padding-left: 0.5rem;
//font-weight: bold;
//}

//.header-logo {
//img {
//height: 35vh;
//width: auto;
//}
//}

//.colored-section {
//border-top: 25px solid $grey;
//padding-top: 5rem;
//padding-bottom: 5rem;
//min-height: 65vh;

//h2 {
//}

//.section-main {
//border-left: 4px solid $blue;
//padding-left: 2rem;

//p {
//padding-bottom: 2rem;
//}
//}
//}
//.colored-section-1 {
//background-image: linear-gradient(165deg, $cyan 44%, $blue 110%);
//border-top: 25px solid $grey;
//min-height: 50vh;
//color: #FFF;
//}
//.colored-section-2 {
//background-image: linear-gradient(165deg, $blue 44%, $cyan 110%);
//border-top: 25px solid $grey;
//min-height: 50vh;
//color: #FFF;
//}
