$accent-off: #B0A496;
$accent-highlight: #C1C53F;
$off-white: #FAF6FC;
@import "~bulma/sass/utilities/initial-variables";

$primary: #76B073;
$body-background-color: $off-white;

@import '~bulma/bulma';

.header-container {
  .header-navigation {
    z-index: 100;
    background-color: $primary;
    .header-link {
      color: $off-white;
      font-weight: bold;

      &:hover {
        background-color: inherit;
        color: $accent-off;
      }
      &.header-link-active {
        color: $accent-highlight;
      }
    }


    .header-navigation-logo {
      margin: 0 10px;
    }
    h1 {
      font-weight: bold;
      color: $off-white;
    }
  }

  .header-logo {
    max-height: 50vh;
    max-width: 25%;
  }

  &.header-full {
    height: 100vh;
  }

  &.header-short {
    height: 35vh;
    margin-bottom: 0.75rem;
  }

  &.header-full, &.header-short {
    position: relative;
    overflow: hidden;
    .header-body {
      z-index: 10;
    }
    .header-carousel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .header-carousel-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9;
      height: 100%;
      width: 100%;
      background-color: $primary;
      opacity: 0.6;
    }

    .header-body {
      .buttons {
        a {
          margin: 30px 10px;
          padding: 20px 40px;
          background-color: transparent;
          color: #FFFFFF;
          border: 2px solid #FFFFFF;
          border-radius: 100px;
        }
      }
    }
  }

  .navbar-brand h1 {
    padding-left: 0.5rem;
    font-weight: bold;
  }
}

.courses-page {
  .section-main {
    border-bottom: 2px solid $accent-off;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 20vh;
  }

  .course-pin {
    $size: 40px;

    position: absolute;
    width: $size;
    height: $size;
    left: -$size/2;
    top: -$size/2;
    border: 5px solid $accent-highlight;
    border-radius: $size;
    background-color: $primary;
    text-align: center;
    padding: 4px;

    .course-pin-logo {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .course-address {
    white-space: pre-line;
  }
}

.about-page {
  article {
    h1 { font-size: 1.25em; }
  }
}
